<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <h3>Inventory:</h3>
  </br>
  <div class="form-group">
    <ul class="list-group">
      <%= form.fields_for :room_types do |room_types_form| %>
        <li class="list-group-item">
          <div class="form-group">
            <%= room_types_form.label :name %>
            <%= room_types_form.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-check">
            <%= room_types_form.check_box :available, class: 'form-check-input' %>
            <%= room_types_form.label :available, class: 'form-check-label' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="form-group">
    <% if hotel.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', hotel, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if hotel.persisted? %>
      <%= link_to "Cancel", hotel, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", hotels_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
